## Why do we need built in data structures
* To collect and manage the data efficiently

### 4 Data structure
* List
* Tuple
* Sets
* Dictionary - Key & value

### 1. List
- It can take duplicate elements
- Heterogenious: It can take the all types of elements
- 1 Dimension
- Indexing and slicing is possible
- Mutable - The value can be changed in the future

In [11]:
empty_cart1 = []

In [4]:
items_to_buy = ["Apple", "Orange","Grapes","Apple",9,7.66]
items_to_buy

['Apple', 'Orange', 'Grapes', 'Apple', 9, 7.66]

In [8]:
items_to_buy[0:3:2]

['Apple', 'Grapes']

In [9]:
items_to_buy[2] = "Watermelon"

In [10]:
items_to_buy

['Apple', 'Orange', 'Watermelon', 'Apple', 9, 7.66]

### 2. Sets
- 1D
- Heterogenious
- It does not have any duplicate values
- Slicing and Indexing is not possible
- Mutable

In [12]:
empty_cart2 = set()

In [13]:
type(empty_cart2)

set

In [4]:
items_to_buy2 ={"Apple", "Orange","Grapes","Apple",9,7.66}
items_to_buy2

{7.66, 9, 'Apple', 'Grapes', 'Orange'}

In [5]:
items_to_buy2.add("Banana")

In [6]:
items_to_buy2

{7.66, 9, 'Apple', 'Banana', 'Grapes', 'Orange'}

### 3. Tuple
- 1D
- Heterogenious
- Allows Duplicate values
- Slicing and indexing is possible
- Immutable - Once the value is appended the values cant be changed

In [7]:
empty_cart3 = ()

In [8]:
type(empty_cart3)

tuple

In [9]:
items_to_buy3 = ("Apple", "Orange","Grapes","Apple",9,7.66)

In [11]:
items_to_buy3[0]

'Apple'

In [12]:
items_to_buy3.count("Apple")

2

### 4. Dictionary

- It is a key value pair
- 2d
- Heterogenoius
- Mutable
- Indexing and slicing is possible
- Will not create duplicate key

In [13]:
empty_cart4 = {}

In [14]:
type(empty_cart4)

dict

In [16]:
student_marks = {"Maths":98,"English":87,"Tamil":99,}
student_marks

{'Maths': 98, 'English': 87, 'Tamil': 99}

In [18]:
student_marks.keys()

dict_keys(['Maths', 'English', 'Tamil'])

In [19]:
student_marks.values()

dict_values([98, 87, 99])

### DataFrame using dictonary

In [20]:
math_student_marks = {"Name":["Anirudh","Aakash","Joel"],"Marks":[99,87,76]}
math_student_marks

{'Name': ['Anirudh', 'Aakash', 'Joel'], 'Marks': [99, 87, 76]}

In [21]:
import pandas as pd
pd.DataFrame(data = math_student_marks)

      Name  Marks
0  Anirudh     99
1   Aakash     87
2     Joel     76

In [24]:
attendance = {"Name" : ("Anirudh","Ajay","Aswin"),"DAA":[1,0,1],"DSA" : [1,1,1],"EEE":[0,0,0]}
pd.DataFrame(data = attendance)

      Name  DAA  DSA  EEE
0  Anirudh    1    1    0
1     Ajay    0    1    0
2    Aswin    1    1    0

### How can we choose btw list,tuple
List = The value can be changed in the future
Tuple = The value cannot be changed in the future