## Libraries

It is a set if functions where the codes are pre-written in it

### 1. Pandas Library

- For data analysis

In [2]:
import pandas as pd

In [3]:
pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.13/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [11]:
insurance_charges = pd.read_csv(filepath_or_buffer = r"/Users/anirudhg/Desktop/DS/insurance.csv")

In [12]:
insurance_charges

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

## 2.Numpy - Numerical Operations

In [9]:
import numpy as np

In [13]:
np.repeat(a = insurance_charges, repeats = 2, axis = 0)

array([[19, 'female', 27.9, ..., 'yes', 'southwest', 16884.924],
       [19, 'female', 27.9, ..., 'yes', 'southwest', 16884.924],
       [18, 'male', 33.77, ..., 'no', 'southeast', 1725.5523],
       ...,
       [21, 'female', 25.8, ..., 'no', 'southwest', 2007.945],
       [61, 'female', 29.07, ..., 'yes', 'northwest', 29141.3603],
       [61, 'female', 29.07, ..., 'yes', 'northwest', 29141.3603]],
      shape=(2676, 7), dtype=object)

In [16]:
insurace_charges_updated = pd.DataFrame(data = np.repeat(a = insurance_charges, repeats = 2, axis = 1))

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,19,19,female,female,27.9,27.9,0,0,yes,yes,southwest,southwest,16884.924,16884.924
1,18,18,male,male,33.77,33.77,1,1,no,no,southeast,southeast,1725.5523,1725.5523
2,28,28,male,male,33.0,33.0,3,3,no,no,southeast,southeast,4449.462,4449.462
3,33,33,male,male,22.705,22.705,0,0,no,no,northwest,northwest,21984.47061,21984.47061
4,32,32,male,male,28.88,28.88,0,0,no,no,northwest,northwest,3866.8552,3866.8552
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333,50,50,male,male,30.97,30.97,3,3,no,no,northwest,northwest,10600.5483,10600.5483
1334,18,18,female,female,31.92,31.92,0,0,no,no,northeast,northeast,2205.9808,2205.9808
1335,18,18,female,female,36.85,36.85,0,0,no,no,southeast,southeast,1629.8335,1629.8335
1336,21,21,female,female,25.8,25.8,0,0,no,no,southwest,southwest,2007.945,2007.945
1337,61,61,female,female,29.07,29.07,0,0,yes,yes,northwest,northwest,29141.3603,29141.3603

## 3. Matplotlib,Seaborn,Plotly

- Used for data visualization

In [19]:
from matplotlib import pyplot as plt

In [1]:
plt.hist(x = insurance_charges)

NameError: name 'plt' is not defined

## 2 Types of data:
1. Discrete - Countable,It does not have any values, cant measure that
2. Continuos - It will have units and can be measured

In [2]:
import seaborn as sns